apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: observability

# 1) Generate the ConfigMap WITH hash in the name
configMapGenerator:
  - name: redpanda-connect-dashboard
    files:
      - redpanda-connect-dashboard.json

generatorOptions:
  disableNameSuffixHash: true
  labels:
    grafana_dashboard: "1" 

# 2) Inflate the Helm chart
helmCharts:
  - name: kube-prometheus-stack
    repo: https://prometheus-community.github.io/helm-charts
    version: 79.5.0
    releaseName: kube-prometheus-stack
    namespace: observability
    includeCRDs: true
    valuesFile: values.yaml